/* body {
display: flex;
flex-direction:column;
} */

header {
  border: 2px dashed red;
  background: #ccc;
  padding: 3em;
  text-align: left;
}

main {
display: flex;
}


img {
  flex: 1;
  flex-direction: row;
  width: 30%;
  height: 50%;
  border: 5px solid darkgray;
  background-color: whitesmoke;
  object-fit: contain;
  transition: all .5s ease;
}  

#showResults {
  flex: 2;
  flex-direction: column;
  height: 40px;
  width: 200px;
}

footer {
  border: 2px dashed red;
  background: #ccc;
  padding: 3em;
  text-align: center;
}
