body {
  font-family: "Arial", sans-serif;
  background-color: #e6f7ff;
}

header {
  border: 2px dashed red;
  background: #ccc;
  padding: 3em;
  text-align: left;
}

section {
display: flex;
}

img {
  flex: 1;
  flex-direction: row;
  width: 30%;
  height: 50%;
  border: 5px solid darkgray;
  background-color: whitesmoke;
  object-fit: contain;
  transition: all .5s ease;
}  

#showResults {
  flex: 2;
  flex-direction: column;
  height: 40px;
  width: 200px;
}

p {
  align-self: flex-end;
  
}

footer {
  border: 2px dashed red;
  background: #ccc;
  padding: 3em;
  text-align: center;
}

#chartContainer {
  flex: 3;

}